{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title> My Django Website </title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>
<body>
    <nav class="navbar">
        <a href ="/projects/"> To Go Projects</a>
        <a href ="/"> To Go Home</a>
        <a href ="/about/" > To Go About </a>
        <a href ="/greet/Ethiopia/"  > To Go Greet Ethiopia</a>
        <a href ="/contact/" > To Go Contact </a>
    </nav>
    {% block content %}

    {% endblock content %}

</body>
</html>
