{% extends 'base.html' %}
{% block content %}
<div class="container mt-5" style="max-width: 600px;">
    <div class="card p-4 shadow-sm">
            {% if messages %}
                {% for message in messages %}
                    <div style="background-color: #d4edda; color: #155724; padding: 15px; border-radius: 5px; text-align: center;">
                        {{message}}
                    </div>
                    {% endfor %}
            {% endif %}
        <h2 class="mb-4 text-center"> 
            <div style="color: blue;"> Contact Us :</h2>
        <form method="POST">
            {% csrf_token %} 
            <div style="color: #000000 !important;">
                {{ form.as_p }}
            </div>
            <button type="submit" class="btn btn-primary w-100 mt-3">Send Message </button>
        </form>
    </div>
</div>
{% endblock %}